In [1]:
import pandas as pd

df = pd.read_csv('sample.csv')
df.head()

,Entry,Battery_Voltage_(Lead-acid)_(V),Motor_Temperature,Motor_RPM,Range_(km),Tyre_Pressure_(psi),Brake_Fluid_(%),Coolant_Level_(%),Lubricant_Level_(%),Maintenance_Needed_(Area)
0,1,12.4,78,3200,280,33,75,65,85,No Maintenance Required
1,2,12.2,82,3000,250,31,70,70,80,Tyres
2,3,12.8,75,2800,300,35,80,60,90,No Maintenance Required
3,4,12.5,80,3100,270,34,72,68,78,No Maintenance Required
4,5,12.3,85,3300,260,32,78,72,82,Motor and Lubrication

In [2]:
df.columns

Index(['Entry', 'Battery_Voltage_(Lead-acid)_(V)', 'Motor_Temperature',
       'Motor_RPM', 'Range_(km)', 'Tyre_Pressure_(psi)', 'Brake_Fluid_(%)',
       'Coolant_Level_(%)', 'Lubricant_Level_(%)',
       'Maintenance_Needed_(Area)'],
      dtype='object')

In [3]:
df = df[['Battery_Voltage_(Lead-acid)_(V)','Motor_Temperature','Motor_RPM','Range_(km)','Tyre_Pressure_(psi)','Brake_Fluid_(%)','Coolant_Level_(%)',
         'Lubricant_Level_(%)','Maintenance_Needed_(Area)']]

In [4]:
df.head()

,Battery_Voltage_(Lead-acid)_(V),Motor_Temperature,Motor_RPM,Range_(km),Tyre_Pressure_(psi),Brake_Fluid_(%),Coolant_Level_(%),Lubricant_Level_(%),Maintenance_Needed_(Area)
0,12.4,78,3200,280,33,75,65,85,No Maintenance Required
1,12.2,82,3000,250,31,70,70,80,Tyres
2,12.8,75,2800,300,35,80,60,90,No Maintenance Required
3,12.5,80,3100,270,34,72,68,78,No Maintenance Required
4,12.3,85,3300,260,32,78,72,82,Motor and Lubrication

In [5]:
df = df.dropna()

In [6]:
df.shape

(65, 9)

In [7]:
df.to_csv('sample2.csv', index=False)

Creating synthetic data

In [8]:
import csv
import random

# Function to generate random values for each column
def generate_random_data():
    return {
        'Battery_Voltage_(Lead-acid)_(V)': round(random.uniform(12.1, 12.9), 2),
        'Motor_Temperature': round(random.uniform(75, 85), 2),
        'Motor_RPM': random.randint(2800, 3300),
        'Range_(km)': random.randint(250, 300),
        'Tyre_Pressure_(psi)': round(random.uniform(30, 37), 2),
        'Brake_Fluid_(%)': random.randint(60, 80),
        'Coolant_Level_(%)': random.randint(60, 75),
        'Lubricant_Level_(%)': random.randint(78, 90),
        'Maintenance_Needed_(Area)': random.choice([
            'No Maintenance Required',
            'Tyres',
            'Battery',
            'Tyres and Lubrication',
            'Motor and Lubrication',
            'Tyres and Brake System',
            'Motor and Tyres',
            'Brake System and Lubrication'
        ])
    }

# Generate 10,000 rows of random data
data = [generate_random_data() for _ in range(10000)]

# Define CSV file header
header = data[0].keys()

# Specify the filename
filename = 'random_data.csv'

# Write data to CSV file
with open(filename, 'w', newline='') as csvfile:
    csv_writer = csv.DictWriter(csvfile, fieldnames=header)
    
    # Write the header
    csv_writer.writeheader()
    
    # Write the data
    csv_writer.writerows(data)

print(f'CSV file "{filename}" created successfully.')

CSV file "random_data.csv" created successfully.